{% extends 'base.html.twig' %}

{% block body %}
    <h1>Card</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ card.id }}</td>
            </tr>
            <tr>
                <th>Nama</th>
                <td>{{ card.nama }}</td>
            </tr>
            <tr>
                <th>Nomor</th>
                <td>{{ card.nomor }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('card_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('card_edit', { 'id': card.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
